h1{
    background-color: red;
}
.heading {
    background-color: aqua;
}
#heading{
    background-color: magenta;
}
#heading2{
    background-color: maroon;
}
#heading3{
    background-color: blue;
}